<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-10 mx-md-auto mx-sm-auto mx-auto rounded px-0">
      <div class="h5 text-dark bg-light p-4 mb-0">商品一覧</div>
      <%= link_to "+", new_admin_item_path, class: "btn btn-outline-primary btn-rounded" %>
      <table class="table mt-5">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <%= item.id %>
              </td>
              <td>
                <%= item.name %>
              </td>
              <td>
                <%= item.price %>
              </td>
              <td>
                <%= item.genre&.name %>
              </td>
              <td>
                <%= item.is_active ? "販売中" : "販売中止" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>