<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-10 mx-md-auto mx-sm-auto mx-auto px-0">
      <div class="h2 pt-4">会員一覧</div>
      <table class="table">
        <thead class="thead-line">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.last_name %><%= customer.first_name %></td>
              <td><%= customer.email %></td>
              <td><%= customer.is_active ? "有効" : "退会" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>