<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-10 mx-md-auto mx-sm-auto mx-auto rounded px-0">
      <div class="h1">ジャンル一覧・追加</div>
      <%= form_with model: @genre do |f| %>
        <%= f.text_field :name, namespace: "ジャンル名" %>
        <%= f.submit "新規登録", class: "btn btn-block-success" %>
      <% end %>
      
      <% @genres.each do |genre| %>
        <table>
          <thead>
            <tr>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= genre.name %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-block-success" %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>