<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-10 mx-md-auto mx-sm-auto mx-auto px-0">
      <div class="h2 pt-4">配送先編集</div>
      <%= form_with model: @address do |f| %>
        <div>
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, placeholder: "0000000" %>
        </div>
        <div>
          <%= f.label :address %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
        </div>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "令和道子" %>
        </div>
        <%= f.submit "変更内容を保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>