<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-10 mx-md-auto mx-sm-auto mx-auto px-0">
      <div class="h2 pt-4">配送先登録/一覧</div>
      <%= form_with model: @address, url: customer_addresses_path(current_customer.id), method: :post do |f| %>
        <div>
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code, placeholder: "0000000" %>
        </div>
        <div>
          <%= f.label :address %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
        </div>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "令和道子" %>
        </div>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      <% end %>
      <div class="mt-5">
        <table class="table">
          <thead>
            <tr>
              <th>郵便番号</th>
              <th>住所</th>
              <th>宛名</th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>