<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="mt-5 mb-2 text-center">ジャンル検索</div>
      <% @genres.each do |genre| %>
        <div><%= genre.name %></div>
      <% end %>
    </div>
    <div class="col-10">
      <div class="h2 mt-5 mb-3">商品一覧（全<%= @items.count %>件）</div>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="col-3">
            <div>
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_image(200,100), size: "200x120", class: "object-fit-cover" %>
              <% end %>
            </div>
          　<div><%= item.name %></div>
          　<div>¥<%= (item.price * 1.1).round.to_s(:delimited) %></div>
        　</div>
        <% end %>
      </div>
    </div>
  </div>
</div>